doctrine:
    dbal:
        url: '%env(resolve:DATABASE_URL)%'

        # IMPORTANT: You MUST configure your server version,
        # either here or in the DATABASE_URL env var (see .env file)
        #server_version: '5.7'
    orm:
        auto_generate_proxy_classes: true
        naming_strategy: doctrine.orm.naming_strategy.underscore_number_aware
        auto_mapping: true
        mappings:
            App:
                is_bundle: false
                type: annotation
                dir: '%kernel.project_dir%/src/Entity'
                prefix: 'App\Entity'
                alias: App
        dql:
            datetime_functions:
                date_format: DoctrineExtensions\Query\Mysql\DateFormat
                date: DoctrineExtensions\Query\Mysql\Date
                year: DoctrineExtensions\Query\Mysql\Year
                str_to_date: DoctrineExtensions\Query\Mysql\StrToDate
                substring_index: DoctrineExtensions\Query\Mysql\SubstringIndex
            numeric_functions:
                round: DoctrineExtensions\Query\Sqlite\Round
